
.egd-search {
  background-color: #f6f6f6;
  border: 1px solid #88b04b;
  padding: 2em 1em;
}

.egd-search__form {
  display: flex;
}

.egd-search__helper {
  font-weight: bold;
  font-family: Lato, Arial, Helvetica, sans-serif;
  padding-top: 3px;
}

.egd-search__input {
  width: 15em;
  margin-left: 1em;
  margin-right: 1em;
}

#egd-search-results {
  padding-left: 0;
}

.egd-search-results__player {
  border: 0;
  border-radius: 2px;
  font-size: 14px;
  font-family: "PT Sans";
  background-color: #88b04b;
  color: #fff;
  text-transform: uppercase;
  padding: 7px 14px;
  margin-right: .5em;
  margin-bottom: .5em;
}

/* Screenreader helper class */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

td.participation-field {
  display: flex;
  justify-content: space-around;
}
td.participation-field .box {
  width: 20px;
  height: 20px;
  background-color: grey;
}
td.participation-field .box.active {
  background-color: #96c346;
}
